<h1>Create Your Account</h1>
<%=render partial: 'shared/error_form', locals: {new_object: @user}%>

<div class="form">
  <%=form_for @user, url: '/users' do |f|%>
    <div class="form-group">
    <%=f.label :username, class: "control-label"%>
    <%=f.text_field :username, class: "form-control", placeholder: "Maximum 20 Characters"%>
    </div>
    <div class="form-group">
    <%=f.label :password, class: "control-label"%>
    <%=f.password_field :password, class: "form-control", placeholder: "Minimum 6 Characters"%>
    </div>
    <div class="form-group">
    <%=f.label :password_confirmation, class: "control-label"%>
    <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Minimum 6 Characters"%>
    </div>
    <div class="form-group">
    <%=f.label :email, class: "control-label"%>
    <%=f.text_field :email, class: "form-control", id: "email", placeholder: "example@gmail.com"%>
    </div>
    <%=f.submit "Sign Up", class: "btn btn-primary"%>
  <%end%>
</div>

