<h1>User Sign Up Form</h1>
<%=form_for @user do |f|%>
<%=f.label "Username: "%>
<%=f.text_field :username%><br>
<%=f.label "Password: "%>
<%=f.text_field :password%><br>
<%=f.label "Confirm password: "%>
<%=f.text_field :password%><br>
<%=f.label "Email: "%>
<%=f.text_field :email%><br>
<%=f.submit "Sign Up"%>
<%end%>
