<!DOCTYPE html>
<html lang="en">
<head>
  <title>BMI Homepage</title>
</head>
<body id="home">

  <div class="container">
  <%if session[:user_id]%>
    <div id="welcome">
      Welcome <%=User.find(session[:user_id]).username.capitalize%>
    </div>
      <div id="sign_in_links">
      <%=link_to "New BMI Record", new_record_url%><br>
      <%=link_to "View Your Records", user_path(User.find(session[:user_id]))%><br>
      <%=link_to "Edit Your Account", edit_user_path(User.find(session[:user_id]))%><br>
      <%=link_to "Delete Your Account", User.find(session[:user_id]), method: :delete, data: {confirm: "Are you sure you want to delete your account?"}%><br>
      <%=link_to "Log Out", '/logout', method: 'delete'%>
      </div>
    <%else%>
    <div id="home-message" >
      HiAnt's BMI Calculator
      </div>
      <div id="links">
        <%=link_to "Sign Up", new_user_url%><br>
        <%=link_to "Log In", login_path%>
      </div>
      <%end%>
  </div>
</body>

</html>
