<%if current_user == @record.user.id%>
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #007bff;">
    <a class="navbar-brand" href="/">HiAnt's BMI Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= session[:user_id] %>">View BMI Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/records/new">New BMI Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= session[:user_id] %>/edit">Edit Your Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= session[:user_id] %>" data-method="delete" data-confirm="Are you sure you want to delete your account?">Delete Your Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" data-method="delete" rel="nofollow">Logout</a>
      </li>
    </ul>
    </div>
    </nav>
  </div>
  <div class="row" id='row1'>
    <h2><%=@record.user.username.capitalize%>'s BMI Record</h2>
  </div>
  <div class="row" id='row2'>
    <div class='col-6 list'>
      <h3>Inputs</h3>
        <ul>
          <li>Weight: <%= @record.weight%></li>
          <li>Height: <%= @record.height_ft%>' <%= @record.height_in%>''</li>
          <li>Sex: <%= @record.sex%></li>
          <li>Age: <%= @record.age%></li>
        </ul>
      </div>
      <div class='col-6 list'>
      <h3>Results</h3>
        <ul>
          <li>BMI: <%= @record.bmi %></li>
          <li>Status: <%= @record.status %></li>
          <li>Risk: <%= @record.risk %></li>
          <li>BMR: <%= @record.bmr %></li>
        </ul>
      </div>
  </div>
  <div class="row" id="advice">
    <% case @record.status %>
    <% when "Over weight" %>
    <h3>Improve Health By</h3>
      <ul>
        <li>Losing: <%= @record.difference_between_ideal_weight.abs%> lbs</li>
        <li>Weight Loss Goal (weeks): <%= @record.goal %></li>
        <li> Recommended Base Calories (per day): <%= @record.cals_to_consume_per_day %></li>
        <li> Calories to Burn (per day): <%= @record.cals_to_burn_per_day %></li>
        <li> Total Calories (per day): <%= @record.cals_to_consume_per_day - @record.cals_to_burn_per_day %></li>
      </ul>
      <% when "Under weight" %>
      <h3>Improve Health By</h3>
        <ul>
          <li>Gaining: <%= @record.difference_between_ideal_weight.abs%> lbs</li>
          <li>Weight Gain Goal (weeks): <%= @record.goal %></li>
          <li> Recommended Base Calories (per day): <%= @record.cals_to_consume_per_day - @record.cals_to_burn_per_day %></li>
          <li> Additional Calories (per day): <%= @record.cals_to_burn_per_day %></li>
          <li> Total Calories (per day): <%= @record.cals_to_consume_per_day %></li>
        </ul>
        <% else %>
        <h3>Great Job!</h3>
        <ul>
        <li>Your BMI Index is within the ideal range, but the work does not end here.</li>
        <li>To ensure that you stay within this range, practice discipline in your diet and excersise regimen.</li>
        </ul>
        <% end %>
  </div>
  <div class="row" id="links1">
    <%=link_to "Delete Record", @record, method: :delete, data: {confirm: "Are you sure you want to delete this record?"}, class: "btn btn-primary"%>
    </div>
</div>


  <%else%>
  You can't access this page. Nice try, buddy!
  <%end%>
